<!-- BEGIN_INCLUDE(git:clone) -->
<git:clone-repository config-ref="s3repo" uri="git@github.com:mulesoft/s3-connector.git"/>
<!-- END_INCLUDE(git:clone) -->

<!-- BEGIN_INCLUDE(git:add) -->
<git:add config-ref="s3repo" filePattern="README.txt"/>
<!-- END_INCLUDE(git:add) -->

<!-- BEGIN_INCLUDE(git:create-branch) -->
<git:create-branch config-ref="s3repo" branchName="myexperiment" force="true"
      startPoint="bd1c1156a06576f4339af4cb9a5cfddfcc80154e" />
<!-- END_INCLUDE(git:create-branch) -->

<!-- BEGIN_INCLUDE(git:delete-branch) -->
<git:delete-branch config-ref="s3repo" branchName="myexperiment" force="true" />
<!-- END_INCLUDE(git:delete-branch) -->

<!-- BEGIN_INCLUDE(git:commit) -->
<git:commit config-ref="s3repo" msg="Updated README.txt" committerName="John Doe"
                  committerEmail="john@doe.net" />
<!-- END_INCLUDE(git:commit) -->

<!-- BEGIN_INCLUDE(git:push) -->
<git:push config-ref="s3repo" remote="origin"/>
<!-- END_INCLUDE(git:push) -->

<!-- BEGIN_INCLUDE(git:pull) -->
<git:pull config-ref="s3repo"/>
<!-- END_INCLUDE(git:pull) -->

<!-- BEGIN_INCLUDE(git:fetch) -->
<git:fetch config-ref="s3repo"/>
<!-- END_INCLUDE(git:fetch) -->

<!-- BEGIN_INCLUDE(git:checkout) -->
<git:checkout config-ref="s3repo" branch="my-topic-branch" startPoint="origin/my-topic-branch"/>
<!-- END_INCLUDE(git:checkout) -->

<!-- BEGIN_INCLUDE(git:checkout) -->
<git:checkout config-ref="s3repo" branch="my-topic-branch"/>
<!-- END_INCLUDE(git:checkout) -->